<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :start_location %>
    <%= f.text_field :start_location, :class => "location_autocomplete" %>
  </div>
  <br />
  
  <div class="field">
    <%= f.label :finish_location %>
    <%= f.text_field :finish_location, :class => "location_autocomplete" %>
  </div>
  <br />
  
  <div class="field">
    <%= f.label :departure %>
    <%= f.datetime_select :departure, :ampm => true, :discard_minute => true %>
  </div>
  <br />
  
  <div class="field">
    <%= f.label :cost %>
    <%= f.text_field :cost %>
  </div>
  <br />
  
  Are you a:
  <div class="field">
    Driver <%= f.radio_button :has_driver, true %>
    Passenger <%= f.radio_button :has_driver, false %>
  </div>
  <br />
  
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
