<div class="trip <%= trip.has_driver ? 'left' : 'right' %>">
  
  <table class='tripdisplay'>
    <tr>
      
      <td class='left'>
        <% if trip.has_driver %>
		      <% if current_user %>
            <%= image_tag trip.user.image, :width => 75, :height => 75 %>
            <br />
            <%= link_to trip.user.name, trip.user.url %>
	        <% else %>
	          <%= link_to image_tag( 'unknownUser.png'), "/auth/facebook" %>
            <br />
            <%= link_to 'Login', "/auth/facebook" %> to see who posted this ride!
		      <% end %>
        <% else %>
          <div class='price'><%= trip.cost > 0 ? number_to_currency(trip.cost, :precision => 0) : 'Free' %></div>
        <% end %>
      </td>
  
      <td class='middle'>
        <%= link_to_unless_current "#{trip.has_driver ? 'Offering' : 'Requesting'} a ride...", trip %>
        <br />
        <%= trip.start_location.name %> &#8594; <%= trip.finish_location.name %>
        <br />
        <%= trip.departure.strftime("%A, %B %d, %Y at %I%p") %>
      </td>
  
      <td class='right'>
        <% if trip.has_driver %>
          <!-- TODO(danielhtrauner: Fix the fact that we have the same code here and above) -->
          <!-- TODO(danielhtrauner: Move this to helpers; computations shouldn't happen in the views for view code) -->
          <div class='price'><%= trip.cost > 0 ? number_to_currency(trip.cost, :precision => 0) : 'Free' %></div>
        <% else %>
          <% if current_user %>
            <%= image_tag trip.user.image, :width => 75, :height => 75 %>
            <br />
            <%= link_to trip.user.name, trip.user.url %>
		      <% else %>
			      <%= link_to image_tag( 'unknownUser.png'), "/auth/facebook" %>
            <br />
            <%= link_to 'Login', "/auth/facebook" %> to see who posted this ride!
		      <% end %>
        <% end %>
      </td>
      
    </tr>
  </table>

</div>
