<div id="trip">
  <table>
    <tr>
      <td>  
        <div id="title">
          <%= @trip.has_driver ? "I have an open seat in my car!" : "I'm looking for a ride!"%>
        </div>
      
        <div id="user_link">
          <%= link_to @trip.user.name, @trip.user.url %>    
        </div>
    
        <br/>
      
        <div id="from" class="white_circle"> 
          <%= @trip.start_location.name %>
        </div>
    
        <%= image_tag "right-arrow.png", :width => "130px", :id => "arrow" %>
        
        <div id="to" class="white_circle">
          <%= @trip.finish_location.name %>
        </div>
    
        <div class="clear"></div>
        <div id="map"></div>
      </td>

    </tr>
    
    <tr>
      <td>
        <div id='comments'>
          <div id="fb-root"></div>
          <div class="fb-comments" data-href=<%= request.url %> data-num-posts="7" data-width="600"></div>
        </div>
      </td>
    </tr>
    
    <% if current_user %>
      <tr>
        <td>
          <div id="delete">
            <%= link_to "Delete this Trip!", @trip, :method => :delete %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
</div>
