<!DOCTYPE html>
<html>
<head>
  <title>Rideshare</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false" %>
  <%= javascript_include_tag "//connect.facebook.net/en_US/all.js#xfbml=1&appId=224061857645056" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="facebook">
	<% if current_user %>
  	Welcome, <%= current_user.name %>! <br>
  	<%= link_to image_tag( 'facebook-logout-button.png'), signout_path %>
	<% else %>
  	<%= link_to image_tag( 'facebook-login-button.png'), "/auth/facebook" %>
	<% end %>
</div>

<div class="bigbox">
  <div id="logo" align = "center">
    <%= image_tag "logo2.png" %>
  </div>
  
  <table align="center">
    <tr>
      <td>
        <%= link_to 'Search', root_path %>
      </td>
      <td>
        <%= link_to 'Post/Request a Ride', new_trip_path %>
      </td>
    </tr>
  </table>
  
  <%= yield %>
</div>

</body>
</html>

