<!DOCTYPE html>
<html>
<head>
  <title>Middlebury RideShare</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false" %>
  <%= javascript_include_tag "//connect.facebook.net/en_US/all.js#xfbml=1&appId=224061857645056" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="facebook">
	<div class="fb-like" data-href="http://www.facebook.com/pages/Middlebury-Ride-Share/342362625817051" data-send="false" data-width="40" data-show-faces="false"></div>
	<div class="fb-login">
	<% if current_user %>
  	  Welcome, <%= current_user.name %>! <br>
  	  <%= link_to image_tag( 'facebook-logout-button.png'), signout_path %>
	<% else %>
	  <% Rails.cache.write("return_url",request.url) %>
   	  <%= link_to image_tag( 'facebook-login-button.png'), "/auth/facebook" %>
	<% end %>
	</div>
</div>

<div class="bigbox">
  <div id="logo">
    <%= link_to image_tag("logo2.png"), root_path %>
  </div>
  
  <table align="center">
    <tr>
      <td>
        <%= link_to 'Search', root_path, :class => 'button' %>
      </td>
      <td>
        <%= link_to 'Offer/Request a Ride', new_trip_path, :class => 'button' %>
      </td>
    </tr>
  </table>
  
  <%= yield %>
</div>

</body>
</html>

