<!DOCTYPE html>
<html>
<head>
  <title>Rideshare</title>
  <%= stylesheet_link_tag    "layout", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="bigbox">
<div id="logo" align = "center"><%= image_tag "logo2.png" %></div>
<!-- Start css3menu.com BODY section -->
<div id="Selection" align = "center">
<ul id="css3menu1" class="topmenu">

	<li class="topfirst"><a href="#" style="height:15px;line-height:15px;">Search</a></li>

	<li class="topmenu"><a href="#" style="height:15px;line-height:15px;">Request a Ride</a></li>

	<li class="topmenu"><a href="#" target="_blank" style="height:15px;line-height:15px;">Post a Ride</a></li>

	<li class="topmenu"><a href="#" style="height:15px;line-height:15px;">Map</a></li>

	<li class="toplast"><a href="#" style="height:15px;line-height:15px;">About Us</a></li>
</ul>


</div>

<%= yield %>
</body>
</html>
