<!DOCTYPE html>
<html>
<head>
  <title>Rideshare</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "layout", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="bigbox">
  <div id="logo" align = "center">
    <%= image_tag "logo2.png" %>
  </div>
  
  <div id="Selection" align ="center">
    <ul id="css3menu1" class="topmenu">
      <li class="topfirst">
        <%= link_to "Search", root_path %>
      </li>
      <li class="topmenu">
        <%= link_to "Request a Ride", new_ride_path %>
      </li>
      <li class="topmenu">
        <%= link_to "Post a Ride", new_trip_path %>
      </li>
    </ul>
  </div>
  
  <%= yield %>
</div>

</body>
</html>
